spring :
  config:
    import:
      - optional:classpath:/application-secret.yml
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: none

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  redis: # redis 설정 (로컬)
    host: localhost
    port: 6379

  datasource:
    url: jdbc:mariadb://localhost:3306/tily
    username:
    password:
    driver-class-name: org.mariadb.jdbc.Driver

cloud:
  aws:
    credentials:
      access-key:
      secret-key:
    s3:
      folder :
        folderName1: user
        folderName2: roadmap
        folderName3: post
      bucket: tily-bucket
    region:
      #static: ap-northeast-2
    stack:
      auto: false